@use '../abstracts/mixins' as mixins;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
  @include mixins.respond(medium) {
    font-size: 50%;
  }
}