@use '../abstracts/variables' as styles;

.header {
  grid-area: head;
  background-color: styles.$color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-left: 4rem;
    height: 4.6rem;
    display: block;
  }
}